## **FUNCTIONS**
A function is a small re-usable snippet of the code which is written to ouput the result of a specific task.
When a given task has to be performed repeatedly for a given task, it will be good to create a function for the task with generally specified inputs and then the fucntion can be recalled to be used for other inputs as and when required further in the program. 

- Functions make our program look simple and organized.
- Functions are blocks of reusable code, defined using the def keyword.
- Modularity: Break down complex problems into smaller, manageable parts.

**Parameters and Arguments:**

- Parameters are variables in the function definition.
- Arguments are the values passed to the function when calling it.
- Arguments allows a variable number of positional arguments.


#### **SYNTAX**

<pre><code>def FunctionName(Arguments/Parameters):
    Body of the function
    return Expression/output parameter
</code></pre>

#### **Types of Functions**
There are 2 types of functions in Python
1. User-defined Functions:

    So far, the functions we define like SquareIt, SquareList...which were not already available in Python are called User-defined function.
    
2. Built-in functions:

    Functions that are already availabble in Python

    Ex: - min, max, sum, len, Pow, sqrt, mean, median, mode

Let us look at few Built in Function applications:

In [2]:
#Defining a Function:
def my_function(parameter1, parameter2):
    # Function body
    result = parameter1 + parameter2
    return result

#Calling a Function:
my_function(1, 2)

3

In [3]:
my_function(44, 68)

112

In [4]:
my_function(44, 58)

102

**Return**

- Purpose: return is used to exit a function and pass a value back to the caller.
- Usage: It is used to send a result from a function so that it can be used elsewhere in the program.
- Effect: It can change the flow of the program by providing the output of a function, which can then be stored, used in expressions, or passed to other functions.

In [9]:
def div(numbers):
    for num in numbers:
        if num % 2 == 0:
            return f"{num} is divisible by 2"
            
numbers = [1,2,3,4,5,6,7,8,9,10]
div(numbers)

'2 is divisible by 2'

**Print**

- Purpose: print is used to output data to the console. It displays the value on the screen.
- Usage: Typically used for debugging or providing user feedback.
- Effect: It does not affect the flow of a program; it simply shows a value.

In [12]:
numbers = [1,2,3,4,5,6,7,8,9,10] # gloable varibale
for num in numbers:
    if num % 2 == 0:
        print(num)

2
4
6
8
10

In [13]:
def div(numbers):
    
    for num in numbers:
        if num % 2 == 0:
            print(f"{num} is divisible by 2")
            
div(numbers)

2 is divisible by 2
4 is divisible by 2
6 is divisible by 2
8 is divisible by 2
10 is divisible by 2

In [6]:
div((44,46,47,48,52,6,512))

'44 is divisible by 2'

In [14]:
def divis(numbers):
    return[num for num in numbers if num % 2 == 0]

divis(numbers)

[2, 4, 6, 8, 10]

In [15]:
def add1():
    A=int(input("enter the number"))
    B=int(input("enter the second number"))
    C = A+B
    print("The addition is",C)
    
add1()

The addition is 22

In [18]:
x=int(input("enter the number"))
y=int(input("enter the second number"))

def add1(x,y):
    z = x+y
    print("The addition is",z)
    
add1(x, y)

The addition is 22

In [23]:
#let me greet you with a function
def greet(p):
    return print('Hello ', str(p))
  
a = 'Rashmi'
b = 'Soundrya'
c = 'Pavan'

#let us recall the function. 
greet((a,b,c))

Hello  ('Rashmi', 'Soundrya', 'Pavan')

In [25]:
def greet(*p):
    return print('Hello ', str(p))
  
a = 'Rashmi'
b = 'Soundrya'
c = 'Pavan'

greet(a,b,c)

Hello  ('Rashmi', 'Soundrya', 'Pavan')

In [21]:
def sqcb(a):
    '''
    This function returns the square and cube of a given number
    '''
    return a**2, a**3

sqcb(25)

(625, 15625)

In [24]:
sqcb.__doc__

'\nThis function returns the square and cube of a given number\n'

In [1]:
def mod_5(x):
    return x % 5

mod_5(6)

1

In [6]:
max(100, 51, 14)

100

In [3]:
print(
    'Which number is the biggest modulo 5?',
    max(100, 51, 14, key=mod_5),
    sep='\n',
)

Which number is the biggest modulo 5?
14

In [5]:
min(12, 13, 14 , key=mod_5)

12

In [7]:
def most_frequent(List):
    return max(set(List), key=List.count)

List = [2, 1, 2, 2, 1, 3]
print(most_frequent(List))

2

In [8]:
year = int(input("Enter year: "))
if (year%400==0 and year%100==0) or (year%4==0 and year%100!=0):
    print(f"{year} is leap year")
else:
    print(f"{year} not leap year")

2025 not leap year

In [21]:
def leapyaer():
    for i in range(2000,2040):
        year=i
        if (year%400==0 and year%100==0) or (year%4==0 and year%100!=0):
            print(f"{year} is leap year")
        else:
            print(f"{year} not leap year")
    
leapyaer()

2000 is leap year
2001 not leap year
2002 not leap year
2003 not leap year
2004 is leap year
2005 not leap year
2006 not leap year
2007 not leap year
2008 is leap year
2009 not leap year
2010 not leap year
2011 not leap year
2012 is leap year
2013 not leap year
2014 not leap year
2015 not leap year
2016 is leap year
2017 not leap year
2018 not leap year
2019 not leap year
2020 is leap year
2021 not leap year
2022 not leap year
2023 not leap year
2024 is leap year
2025 not leap year
2026 not leap year
2027 not leap year
2028 is leap year
2029 not leap year
2030 not leap year
2031 not leap year
2032 is leap year
2033 not leap year
2034 not leap year
2035 not leap year
2036 is leap year
2037 not leap year
2038 not leap year
2039 not leap year

2024 is leap year

### **Local and Global Variables in Python**
#### **Local Variables**
- A local variable is declared inside a function and can only be accessed within that function.
- It is limited to the block of code (function or method) where it is defined.
- The variable exists only while the function is being executed. Once the function ends, the variable is destroyed.

In [26]:
def my_function():
    x = 10  # Local variable
    print("Inside the function, x =", x)

my_function()
# print(x)  # This will raise an error because 'x' is not defined outside the function.

Inside the function, x = 10

#### **Global Variables**
- A global variable is declared outside any function and can be accessed both inside and outside functions.
- It is available throughout the entire program.
- The variable exists as long as the program is running.
- To modify a global variable inside a function, you need to use the `global` keyword. Without it, Python treats the variable as a local variable.
- In nested functions, when you want to modify a variable from the enclosing (non-global) scope, you use the `nonlocal` keyword.

In [ ]:
y = 20  # Global variable

def my_function():
    print("Inside the function, y =", y)  # Accessing the global variable

my_function()

print("Outside the function, y =", y)

Inside the function, y = 20
Outside the function, y = 20

In [28]:
# Modifying Global Variables Inside a Function
z = 30  # Global variable

def my_function():
    global z  # Declare that 'z' is the global variable
    z = z + 10  # Modify the global variable
    print("Inside the function, z =", z)

my_function()
print("Outside the function, z =", z)

Inside the function, z = 40
Outside the function, z = 40

In [29]:
def outer_function():
    x = 5  # Enclosing scope variable

    def inner_function():
        nonlocal x  # Modify variable from enclosing scope
        x = x + 1
        print("Inside inner function, x =", x)

    inner_function()
    print("Inside outer function, x =", x)

outer_function()

Inside inner function, x = 6
Inside outer function, x = 6

### **Argument and Keyword Argument**
#### **Function with Arbitrary Arguments (`*args`)**
- If you want to pass a variable number of arguments to a function, you can use *args.

In [41]:
def sum_numbers(args):
    return sum(args)

sum_numbers((1,3))

4

In [42]:
def sum_numbers(*args):
    return sum(args)

sum_numbers(1, 2, 3, 4, 5 ,6)

21

In [39]:
def leapyear1(*year):
    for year in year:
        if (year%400==0 and year%100==0) or (year%4==0 and year%100!=0):
            print(f"{year} is leap year")
        else:
            print(f"{year} not leap year")
        
leapyear1(2024, 2022, 2000, 2002)

2024 is leap year
2022 not leap year
2000 is leap year
2002 not leap year

In [43]:
def even(*num):
    for i in num:
        if i % 2 == 0:
            print(i, end=" ")
            
even(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

2 4 6 8 10

In [1]:
def concat(*args, sep="/"):
    return sep.join(args)

concat("earth", "mars", "venus")

'earth/mars/venus'

#### **Function with Keyword Arguments (`**kwargs`)**
- You can pass a variable number of keyword arguments using `**kwargs`.

In [47]:
def display_info(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

display_info(name = "Sumer", age = 25, location = "Manchanabale", phone = 1234567890)

name: Sumer
age: 25
location: Manchanabale
phone: 1234567890

In [46]:
def sqrt(**no):
    for a,b in no.items():
        print(f"Square root of {a} is {b**2}")
sqrt(a=2,b=3,c=4)

Square root of a is 4
Square root of b is 9
Square root of c is 16

### **Lambda Expressions (lambda):**
Definition:

- lambda allows the creation of anonymous functions (functions without a name).
- Lambda: Concise, one-line functions, often used for short-term operations.

In [48]:
add = lambda x, y : x + y
add(3, 5)

8

In [49]:
palindrom = lambda x : ['palindrom' if y == y[::-1] else 'not a palindrom' for y in x]
palindrom(['madam','radar', 'level', 'good'])

['palindrom', 'palindrom', 'palindrom', 'not a palindrom']

In [13]:
even = lambda x : x%2==0
even(3)

False

In [50]:
even = lambda x : [i for i in x if i % 2 == 0]
even([1,2,3,4,5,6,7,8,9,10])

[2, 4, 6, 8, 10]

In [51]:
# Python code to illustrate the cube of a number
# using lambda function
def cube(x): return x**3

cube_v2 = lambda x : x**3

print(cube(7))
print(cube_v2(7))

343
343

In [52]:
def make_incrementor(n):
    return lambda x: x + n
f = make_incrementor(42)
f(1)

43

### **map() Function:**
- The `map()` function applies a given function to all items in an input list (or any other iterable) and returns a map object (which can be converted into a list, tuple, etc.).

```map(function, iterable)```

In [55]:
def sqrt(x):
    return x**2
sqrt(2)

a = range(1,20)
sqrt = list(map(sqrt, a))
sqrt

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361]

In [ ]:
ist = [1,2,3,4,5,6,7,8,9,10]

sqrt = map(lambda x:x**2, ist)
sqrt

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [61]:
ist = [1,2,3,4,5,6,7,8,9,10]

even = list(map(lambda x: x if x%2==0 else '', ist))
even

['', 2, '', 4, '', 6, '', 8, '', 10]

In [57]:
# We will look at one more example
def SquareIt(Num):
    return Num*2

#recalling function
SquareIt(11)

22

In [58]:
list1 = [1,2,3,4,5,6]
SquaredList = list(map(SquareIt, list1))
print(SquaredList)

[2, 4, 6, 8, 10, 12]

In [59]:
def even(x):
    if x % 2 == 0:
        return x
    else:
        return ''

list2 = (1,2,3,4,5,6,7,8,9,10)
list1 = list(map(even, list2))
print(list1)

['', 2, '', 4, '', 6, '', 8, '', 10]

In [60]:
list2=[1,2,3,4,5]
list1=map(lambda x: x*3,list2)
for num in list1:
    if num%2 == 0:
        print(num,end=" ")

6 12

### **filter() Function:**
- The filter() function filters the elements in an iterable based on a given function that returns True or False. It returns a filter object (which can be converted into a list, tuple, etc.) containing elements that satisfy the condition.

```filter(function, iterable)```

In [62]:
list2=[1,2,3,4,5,6,7,8,9,10]
list1 = list(filter(lambda x : x%2==0,list2))
print(list1)

[2, 4, 6, 8, 10]

In [63]:
#filter
def DivisibleBy_3(a):
    if (a % 3 == 0):
        return a

l = range(10)
div_3 = list(filter(DivisibleBy_3, l))
div_3

[3, 6, 9]

In [64]:
#Another example of lambda function
m = ['madam', 'radar', 'abcd']
palindrom = tuple(filter(lambda x : x == x[::-1], m))
palindrom

('madam', 'radar')

In [14]:
from functools import  reduce
a = ['listen', 'silent']

angram = reduce(lambda a, b: sorted(a) == sorted(b), a)
angram

True

### **Reduce() Function:**
- The reduce() function (from the functools module) applies a function to the elements of a sequence, cumulatively reducing the sequence to a single value.

```reduce(function, iterable)```

- function: A function that takes two arguments and reduces them to one.
- iterable: The collection you want to reduce.

In [20]:
#pip install functools

In [ ]:
# FInding All The Avilabel Moduled the Library
import functools
print(dir(functools))

['GenericAlias', 'RLock', 'WRAPPER_ASSIGNMENTS', 'WRAPPER_UPDATES', '_CacheInfo', '_HashedSeq', '_NOT_FOUND', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_c3_merge', '_c3_mro', '_compose_mro', '_convert', '_find_impl', '_ge_from_gt', '_ge_from_le', '_ge_from_lt', '_gt_from_ge', '_gt_from_le', '_gt_from_lt', '_initial_missing', '_le_from_ge', '_le_from_gt', '_le_from_lt', '_lru_cache_wrapper', '_lt_from_ge', '_lt_from_gt', '_lt_from_le', '_make_key', '_unwrap_partial', '_unwrap_partialmethod', 'cache', 'cached_property', 'cmp_to_key', 'get_cache_token', 'lru_cache', 'namedtuple', 'partial', 'partialmethod', 'recursive_repr', 'reduce', 'singledispatch', 'singledispatchmethod', 'total_ordering', 'update_wrapper', 'wraps']

In [1]:
from functools import reduce

# Example 1: Summing up a list of numbers
numbers = [1, 2, 3, 4, 5, 6]
sum_result = reduce(lambda x, y: x + y, numbers)
print("Sum", sum_result)

Sum 21

In [31]:
# Example 2: Concatenating strings in a list
words = ["Hello", " ", "World", "!"]
concatenated_string = reduce(lambda x, y: x + y, words)
print("Concatenated String:", concatenated_string)

Concatenated String: Hello World!

In [2]:
# Example 3: Finding the maximum value in a list
values = [45, 67, 12, 89, 34]
max_value = reduce(lambda x, y: x if x > y else y, values)
print("Maximum Value:", max_value)

Maximum Value: 89

In [3]:
def min_value(x,y):
    if x<y:
        return x
    else:
        return y
    
minimum = reduce(min_value, values)
minimum

12

In [9]:
def multiply(a,b):
    return a*b

n = range(1,8)
prod = reduce(multiply, n)
prod

5040

### **Doc Strings**
Let us understand something called 'Doc Strings':
   Doc strings are just the text statements while define the objective/purpose of a function. 
Here is an example,

In [11]:
# Adding Doc strings to our function 'greet(p)'
def greet(p):
    """
    This function returns the greeting for a given name.
    """
    return print('Hello ', str(p))
greet('Praveen')

Hello  Praveen

In [15]:
#We can look at the objective of any function by using attribute '.__doc__'
print(greet.__doc__)

This function returns the greeting for a given name.

In [17]:
print(reduce.__doc__)

reduce(function, iterable[, initial], /) -> value

Apply a function of two arguments cumulatively to the items of an iterable, from left to right.

This effectively reduces the iterable to a single value.  If initial is present,
it is placed before the items of the iterable in the calculation, and serves as
a default when the iterable is empty.

For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5])
calculates ((((1 + 2) + 3) + 4) + 5).

In [9]:
print(sum.__doc__)

Return the sum of a 'start' value (default: 0) plus an iterable of numbers

When the iterable is empty, return the start value.
This function is intended specifically for use with numeric values and may
reject non-numeric types.

In [21]:
print(enumerate.__doc__)

Return an enumerate object.

  iterable
    an object supporting iteration

The enumerate object yields pairs containing a count (from start, which
defaults to zero) and a value yielded by the iterable argument.

enumerate is useful for obtaining an indexed list:
    (0, seq[0]), (1, seq[1]), (2, seq[2]), ...

In [10]:
print(len.__doc__)

Return the number of items in a container.

In [13]:
#let us get the square of numbers in a list
def SquareList(a):
    """
    This functions returns square of numbers in a list
    """
    b=[]
    for i in a:
        b.append(i**2)
    return b 
#recall
SquareList([1,2,3,4])

[1, 4, 9, 16]

In [19]:
#let us get the square of numbers in a list
def SquareList(a):
    """
    This functions returns square of numbers in a list
    """
    for i in a:
        print(i**2)
 #recall
SquareList([1,2,3,4])

1
4
9
16

In [20]:
SquareList([5,6,7,8,9])

25
36
49
64
81

In [21]:
print(SquareList.__doc__)

This functions returns square of numbers in a list

### **Exercise Questions**

In [22]:
#def Function Examples:
#Example 1: Calculate Area of a Rectangle

def calculate_rectangle_area(length, width):
    area = length * width
    return area

# Example Usage
rectangle_area = calculate_rectangle_area(5, 8)
print("Rectangle Area:", rectangle_area)

Rectangle Area: 40

In [24]:
#Example 2: Convert Celsius to Fahrenheit

def celsius_to_fahrenheit(celsius):
    fahrenheit = (celsius * 9/5) + 32
    return fahrenheit

# Example Usage
temperature_celsius = 30
temperature_fahrenheit = celsius_to_fahrenheit(temperature_celsius)
print(f"{temperature_celsius} Celsius is {temperature_fahrenheit} Fahrenheit")

30 Celsius is 86.0 Fahrenheit

In [44]:
#Example 3: Check if a Number is Prime
def is_prime(a):
    if a < 2: # prime number start from 2
        print("Not a prime number")
    else:
        prime = True
        for i in range(2, a):
            if a % i == 0:
                prime = False
                break
        if prime:
            print(a, "is Prime number")
        else:
            print(a, "is Not a prime number")

# Example Usage
check_number = 13
is_prime(check_number)

13 is Prime number

In [54]:
def is_prime(number):
    if number < 2:
        return False
    for i in range(2, int(number**0.5) + 1):
        if number % i == 0:
            return False
    return True

is_prime(60)

False

In [62]:
number = 23
int(number**0.5) + 1

23 % 5 ==0

False

In [27]:
#2. lambda Expression Examples:
#Example 1: Find the Square of a Number

square = lambda x: x**2

# Example Usage
number = 8
result = square(number)
print(f"The square of {number} is {result}")

The square of 8 is 64

In [28]:
#Example 2: Concatenate First and Last Name
concatenate_names = lambda first, last: f"{first} {last}"

# Example Usage
first_name = "John"
last_name = "Doe"
full_name = concatenate_names(first_name, last_name)
print("Full Name:", full_name)

Full Name: John Doe

In [29]:
#Example 3: Check if a Number is Even using lambda

is_even = lambda x: x % 2 == 0

# Example Usage
check_number = 10
print(f"{check_number} is Even: {is_even(check_number)}")

10 is Even: True

In [30]:
#3. map() Function Examples:
#Example 1: Double Each Element in a List
numbers = [1, 2, 3, 4, 5]
doubled_numbers = list(map(lambda x: x * 2, numbers))

print("Original List:", numbers)
print("Doubled List:", doubled_numbers)

Original List: [1, 2, 3, 4, 5]
Doubled List: [2, 4, 6, 8, 10]

In [45]:
#Example 3: Calculate Square Roots of Numbers in a List
import math

numbers = [4, 9, 16, 25]
square_roots = list(map(math.sqrt, numbers))

print("Original List:", numbers)
print("Square Roots:", square_roots)

Original List: [4, 9, 16, 25]
Square Roots: [2.0, 3.0, 4.0, 5.0]

In [36]:
math.pow(2, 3)

8.0

In [37]:
#filter() Function Examples:
#Example 1: Filter Positive Numbers from a List
numbers = [-2, -1, 0, 1, 2, 3, 4, 5]
positive_numbers = list(filter(lambda x: x > 0, numbers))

print("Original List:", numbers)
print("Positive Numbers:", positive_numbers)

Original List: [-2, -1, 0, 1, 2, 3, 4, 5]
Positive Numbers: [1, 2, 3, 4, 5]

In [38]:
#Example 2: Filter Words Starting with 'A' from a List of Strings
words = ["Apple", "Banana", "Orange", "Avocado", "Grapes"]
a_words = list(filter(lambda word: word.startswith('A'), words))

print("Original List of Words:", words)
print("Words Starting with 'A':", a_words)

Original List of Words: ['Apple', 'Banana', 'Orange', 'Avocado', 'Grapes']
Words Starting with 'A': ['Apple', 'Avocado']

In [8]:
letter_to_number = {
'a': 1,
'b': 2,
'c': 3,
'd': 4,
'e': 5,
'f': 6,
'g': 7,
'h': 8,
'i': 9,
'j': 10,
'k': 11,
'l': 12,
'm': 13,
'n': 14,
'o': 15,
'p': 16,
'q': 17,
'r': 18,
's': 19,
't': 20,
'u': 21,
'v': 22,
'w': 23,
'x': 24,
'y': 25,
'z': 26
}


encoded_messages = [
    '18-5-3-1-4',
    '2-5-20-12-5',
    '15-14-5-7-5-1',
    '23-8-1-20',
    '1-3-20-9-15-14',
    '18-5-1-12-12-25',
    '20-8-5',
    '13-5-19-19-1-7-5',
    '3-8-1-12-12-5-14-7-5',
    '2-8-1-22-1-14',        
    '19-15-21-14-4-1-18-25-1', 
    '18-1-19-8-13-9',       
]

In [17]:
def get_key(val):
    for key, value in letter_to_number.items():
        if val == value:
            return key
        
    return "key doesn't exist"

In [18]:
final=[]
for i in encoded_messages:
    s=''
    for j in i.split('-'):
        s+= str(get_key(int(j)))
    final.append(s)

print(final)

['recad', 'betle', 'onegea', 'what', 'action', 'really', 'the', 'message', 'challenge', 'bhavan', 'soundarya', 'rashmi']

### **Decoding**

In [1]:
letter_to_number = {
    'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6, 'g': 7, 'h': 8, 'i': 9, 'j': 10,
    'k': 11, 'l': 12, 'm': 13, 'n': 14, 'o': 15, 'p': 16, 'q': 17, 'r': 18, 's': 19,
    't': 20, 'u': 21, 'v': 22, 'w': 23, 'x': 24, 'y': 25, 'z': 26
}

texts = [
    'recad',
    'betle',
    'onegea',
    'what',
    'action',
    'really',
    'the',
    'message',
    'challenge',
    'Bhavan',
    'Soundarya',
    'Rashmi'
]

In [2]:
def text_to_numerical(text):
    numbers = []
    for char in text:
        lower_char = char.lower()  # Convert the character to lowercase
        if lower_char in letter_to_number:  # Check if the character is in the dictionary
            numbers.append(str(letter_to_number[lower_char]))  # Get the corresponding number and add to the list
    return '-'.join(numbers)  # Join the numbers with hyphens

In [3]:
# Convert each text to its numerical representation
encoded_messages = []
for text in texts:
    encoded_message = text_to_numerical(text)
    encoded_messages.append(encoded_message)

# Print the encoded messages
for encoded in encoded_messages:
    print(encoded)

18-5-3-1-4
2-5-20-12-5
15-14-5-7-5-1
23-8-1-20
1-3-20-9-15-14
18-5-1-12-12-25
20-8-5
13-5-19-19-1-7-5
3-8-1-12-12-5-14-7-5
2-8-1-22-1-14
19-15-21-14-4-1-18-25-1
18-1-19-8-13-9

#### **Let us try to build a simple calculator using functions**

In [1]:
def calculator():
    print("Simple Calculator")
    print("1. Addition")
    print("2. Subtraction")
    print("3. Multiplication")
    print("4. Division")

    choice = input("Enter your choice (1/2/3/4): ")

    num1 = float(input("Enter the first number: "))
    num2 = float(input("Enter the second number: "))

    if choice == '1':
        result = num1 + num2
        print(f"The result of addition is: {result}")
    elif choice == '2':
        result = num1 - num2
        print(f"The result of subtraction is: {result}")
    elif choice == '3':
        result = num1 * num2
        print(f"The result of multiplication is: {result}")
    elif choice == '4':
        if num2 != 0:
            result = num1 / num2
            print(f"The result of division is: {result}")
        else:
            print("Error: Division by zero is not allowed.")
    else:
        print("Invalid choice. Please enter a valid option (1/2/3/4).")

# Call the calculator function
calculator()

Simple Calculator
1. Addition
2. Subtraction
3. Multiplication
4. Division

The result of addition is: 32.0

In [2]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

print(factorial(5))

120