## **INTRODUCTION TO PYTHON**

### Keywords

A keyword is a reserved word that has a predefined meaning and cannot be used for anything other than its intended purpose. Keywords are fundamental parts of the programming language's syntax and are integral to how the language functions

In [1]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

- False: Represents the boolean value for false.
- None: Represents the null value.
- True: Represents the boolean value for true.
- and: A logical operator that returns True if both operands are true.
- as: Used to create an alias.
- assert: Used for debugging purposes; tests if a condition is true.
- async: Declares an asynchronous function.
- await: Used to wait for the result of an asynchronous function.
- break: Exits the current loop prematurely.
- class: Used to define a class.
- continue: Skips the rest of the code inside a loop for the current iteration only.
- def: Used to define a function.
- del: Deletes objects.
- elif: Else if condition.
- else: Used in conditional statements to execute a block of code if the condition is false.
- except: Catches exceptions in try-except blocks.
- finally: Used in try-except blocks to execute code regardless of whether an exception occurred or not.
- for: Used to create a for loop.
- from: Used for importing specific parts of a module.
- global: Declares a global variable.
- if: Used to make a conditional statement.
- import: Used to include a module.
- in: Checks if a value is present in a sequence.
- is: Tests for object identity.
- lambda: Creates an anonymous function.
- nonlocal: Declares a non-local variable.
- not: A logical operator that inverts the value of a boolean.
- or: A logical operator that returns True if at least one of the operands is true.
- pass: A null statement; does nothing.
- raise: Raises an exception.
- return: Exits a function and returns a value.
- try: Specifies exception handlers.
- while: Creates a while loop.
- with: Simplifies exception handling by encapsulating common preparation and cleanup tasks.
- yield: Pauses the function saving all its states and later continues from there on successive calls. Used with generators.

In [2]:
len(keyword.kwlist)

35

### Identifiers

An identifier is a name used in programming to identify variables, functions, classes, modules, or other entities in a program. Identifiers are created by the programmer to refer to these elements within the code.

### Rules for writing Identifiers
1. Identifiers must begin with a letter (a-z, A-Z) or an underscore (_).
2. The rest of the identifier can contain letters, numbers, and underscores.
3. Identifier shouldn’t start with number
4. Shouldn’t start with Special Character (@, #, %, *, ~ ,&)
5. Identifiers are case-sensitive, meaning myVar and myvar would be treated as different identifiers.
6. Certain words, known as reserved words or keywords (e.g., if, else, while, class), cannot be used as identifiers.
7. should not give the space in between the identifier

In [3]:
a_1=2

In [4]:
#a = 1
#a = 5
_a2 = 10
final = 7
#True = 4

#Invalid identifier
#2a = 5 # identifier can not start with a number/digit
true = 5 # identifier can not start with a number/digit

In [5]:
# Valid identifiers
name = "John"
age = 30
_count = 100
calculate_total = lambda x: x*1.1

# Invalid identifiers
123value = 123
2nd_variable = "second"
 value = 25

SyntaxError: invalid decimal literal (1330852181.py, line 8)

In [6]:
# Function
# Valid identifiers
def print_message():
    print("Hello, World!")

def add_numbers(x,y):
    return x + y

# Invalid identifiers
def 123_function():
    pass

def 123 function():
    pass

SyntaxError: invalid decimal literal (172070472.py, line 10)

In [7]:
# Class
# Valid identifiers
class Car:
    def __init__(self, make, model):
        self.make = make  
        self.model = model 

# Invalid identifiers
class 123Class:
    pass 

class class with space:
    pass

SyntaxError: invalid decimal literal (122334419.py, line 9)

In [8]:
# my_model.py
def greet(name):
    print(f"Hello,{name}")

In [9]:
# Invalid Module
import 123_model

import module with_space

SyntaxError: invalid decimal literal (2129934701.py, line 2)

In [2]:
x = 10
print("ID of x: ",id(x))

ID of x:  140735296719576

In [6]:
y = "Swarrop"
id(y)
x = y
print(id(y))
id(x)

1982325250864

1982325250864

### Variables

A variable is a storage location identified by a name that holds data which can be used and manipulated throughout a program. Variables act as containers for storing values, such as numbers, strings, or more complex data structures.

**Naming Rules:**

- Variable names should start with a letter (A-Z or a-z) or an underscore (_).
- The rest of the name can include letters, digits (0-9), and underscores.
- Variable names are usually case-sensitive, meaning Variable, variable, and VARIABLE would be considered different variables.

**Types of Values:**

- Variables can hold different types of data, including:
- Integers: Whole numbers, e.g., 42
- Floats: Decimal numbers, e.g., 3.14
- Strings: Text, e.g., "Hello"
- Booleans: True or false values, e.g., True
- Lists: Ordered collections of items, e.g., [1, 2, 3]
- Dictionaries: Key-value pairs, e.g., {"name": "Alice", "age": 25}

In [11]:
# Variable Assignment
x = 3.14
name = "John"
pi = 10
is_student = True

In [8]:
x = 10 # integer
y = "John" # String
z = 3.14 # float

In [9]:
# Check the type of a variable
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'str'>
<class 'float'>

In [14]:
x = 5
print(x)

y = "new value"
print(y)

5
new value

In [10]:
import sys

P = 10
Q = "Hello, World!"
S = [1,2,3,4,5]

print("ID of :", id(P)) # ID of the object
print("ID of :", id(Q)) # ID of the object
print("Storage size of : ", sys.getsizeof(P), "bytes") # Size of the object
print("Storage size of : ", sys.getsizeof(Q), "bytes") # Size of the object

ID of : 140735296719576
ID of : 1982325736752
Storage size of :  28 bytes
Storage size of :  54 bytes

In [11]:
#Value 5 and 6 are assigned to variables a and b respectively(= is an assignment operator)
a = 5
b = 5
c =  (sys.getsizeof(b))
a==b #(== has a different meaning, we will understand later)
a is b

True

In [14]:
shashi = 3+3
shashi1 = "Ashu"+ " "+ "thosh"
print(shashi1)
shashi

Ashu thosh

6

In [15]:
a,b,c = 5, 'certisured', 10
#a=5
#b = 'certisured'
#c=10
print(a)
print(b)
print(c)
a, b, c

5
certisured
10

(5, 'certisured', 10)

In [16]:
a=b=c=d=5
print(a)
print(b)

5
5

### Input and Output

**Input**
- The input() function is commonly used to obtain user input from the console.
- It takes a string argument (prompt) that is displayed to the user, waits for the user to enter some text, and then returns that text as a string.

**Output**
- The print() function is used to display output on the console.
- It can take multiple arguments, and it prints them separated by spaces by default.

In [42]:
s = input("enter a number" ) # input taked defult string
print(s)

10

In [19]:
a = int(input('Enter a number: '))
b = int(input('Enter a number1: '))
print(a)
print(b)
c = a + b
print(c)

10
20
30

In [20]:
a = float(input('Enter a number: '))
b = float(input('Enter a number1: '))
c = a + b
print(c)

30.2

In [24]:
a = 7
b = 8
print("Prem kumar is a good guy")
print(b)

Prem kumar is a good guy
8

In [25]:
a, b =  b, a
print(b)

7

The print() function allows you to format output using the format() method or f-strings (formatted string literals) in Python 3.6 and later.

In [27]:
a= 10
b=6
c=7
print ('a is 5', a,'b is',b, 'c is', c)
print('a is {} b is {} c is {}'.format(a,b,c))
print('a is {a}, b is {b}'.format(a=6, b=5))
print("string formating:\n\n")
print("\n")
print(f'a is {a} b is {b} c is {c}')
print(a)

a is 5 10 b is 6 c is 7
a is 10 b is 6 c is 7
a is 6, b is 5
string formating:




a is 10 b is 6 c is 7
10

In [28]:
name = input('Enter Your Name: ')

print(f"My Name is {name}")
print('My Name is {}'.format(name))

My Name is swaroop
My Name is swaroop

In [31]:
a = int(input("enter a number: "))
b = int(input("enter a number: "))
sum = a + b
print(f"sum of {sum}")

sum of 104

In [ ]:
a = 5
b = 5.0
print('Memory location of a:',id(a))
print('Memory location of b:',id(b))

In [36]:
a = "python"
d = " "
b =  "intro"
c = a + d + b
print(c)
print(id(c))
print(sys.getsizeof(c))

python intro
1982333162544
53

### Operators

Operators are just special symbols like +, -, /, *, %....which are ussed to form mathematical or logical expresssions

In [ ]:
a = 5
b = 6
c = a+b # a and b are operands and + is operator and is performing addition
c

#### 1. Arithmetic operators
- '+' (Addition)
- – (Subtraction)
- '*' (Multiplication)
- / (Division)
- ** (Exponentiation)
- // (Floor division) largest whole number
- % (Modulus)

![image.png](https://techvidvan.com/tutorials/wp-content/uploads/sites/2/2019/12/python-arithmetic-operators-1.jpg)

In [44]:
num1=7
num2=4
num3 = num1+num2
print(num3)

11

In [45]:
a = 10
b = 20
a+b

30

In [46]:
a = 10
b = 20
c = a-b
c

-10

In [47]:
a = 10
b = 20
a*b

200

In [13]:
a = 10
b = 20
a/b

0.5

In [48]:
a = 25
b = 20
a%b # remainder

5

In [16]:
a = 16
b = 5
a//b #divisible by num

3

In [49]:
19//3

6

In [50]:
a = 5
b = 3
a**b

125

In [51]:
2**3

8

In [ ]:
num1=7
num2=4
num1-num2

In [52]:
7*4

28

In [53]:
7/4

1.75

In [ ]:
7**2

In [54]:
7//4

1

In [55]:
7%4

3

#### 2. Comparison operators
- '>' (Greater than)
- < (Less than)
- == (Equal to)
- != (Not equal to)
- '>=' (Greater than or equal to)
- <= (Less than or equal to)

![image.png](https://techvidvan.com/tutorials/wp-content/uploads/sites/2/2019/12/python-relational-operators-1.jpg)

In [20]:
num1=7
num2=4
num1>num2

True

In [56]:
7>4

True

In [57]:
num1=7
num2=4
num1<num2

False

In [23]:
num1=7
num2=4

num1==num2

False

In [58]:
4==4

True

In [59]:
7==4

False

In [60]:
num1=7
num2=4
num1!=num2

True

In [61]:
7!=4

True

In [62]:
num1=4
num2=4
num1>=num2

True

In [29]:
num1=7
num2=4
num1<=num2

False

#### 3. Logical operators
- and (Logical and)
- or (Logical or)
- not (Logical not)

In [63]:
True and False

False

In [38]:
True and True

True

In [31]:
True or False

True

In [64]:
a = 7 
b = 5
a>b and a<=b

False

In [65]:
a = 7 
b = 5
a>b or b>a

True

In [34]:
not True

False

In [35]:
a = []
not a

True

In [36]:
a = [1,2,3,4]
not a

False

#### 4.Bitwise Operators
- & (Bitwise and)
- | (Bitwise or)
- ^ (Bitwise xor)
- ~ (Bitwise 1’s complement)
- << (Bitwise left-shift)
- '>>' (Bitwise right-shift)

![image.png](https://techvidvan.com/tutorials/wp-content/uploads/sites/2/2019/12/Python-Bitwise-Operators.jpg)

In [66]:
45&10

8

In [67]:
45 | 10

47

In [68]:
10^15

5

In [69]:
~10

-11

In [43]:
~-3

2

In [8]:
10<<1

20

In [9]:
10<<2

40

In [70]:
15>>1

7

In [72]:
15>>1

7

In [ ]:
4>>2

#### 5. Assingment Operator
- = (Assign)
- += (Add and assign)
- -= (Subtract and assign)
- *= (Multiply and assign)
- /= (Divide and assign)
- %= (Modulus and assign)
- **= (Exponentiation and assign)
- //= (Floor-divide and assign)

![image.png](https://techvidvan.com/tutorials/wp-content/uploads/sites/2/2019/12/Python-Assignment-Operators.jpg)

In [ ]:
num1=7
print(num1)

In [51]:
num1=7
num2=4
num1+=num2
print(num1)

11

In [52]:
num1=7
num2=4
num2-=num1
print(num2)

-3

In [53]:
num1=7
num2=4
num1*=num2
print(num1)

28

In [55]:
num1=7
num2=4
num1/=num2
print(num1)
print(num2)

1.75
4

In [56]:
num1=7
num2=4
num1%=num2
print(num1)

3

In [58]:
num1=7
num2=4
num1**=num2
print(num1)

2401

In [59]:
num1=7
num2=4
num1//=num2
print(num1)

1

#### 6. Membership Operators
Membership operators check whether a value is in another. Python has 2 membership operators:

- in
- not in

In [12]:
4 not in [1, 2, 3]

True

In [13]:
"help" in "stupidity"

False

In [14]:
2 in (1, 2, 3)

True

In [15]:
"help" not in "stupidity"

True

### 7. Identity operators 

check whether two values are identical. Python has 2 identity operators as well:
- is
- is not

In [1]:
2 is 2.0

<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
C:\Users\Admin\AppData\Local\Temp\ipykernel_1472\700261715.py:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  2 is 2.0

False

In [2]:
2 is 2

<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
C:\Users\Admin\AppData\Local\Temp\ipykernel_1472\564785565.py:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  2 is 2

True

In [14]:
x=["apple","banana"]
y=["apple","banana"]
print(x==y)
print(x is y)
print(x is not y)
print(id(x))
print(id(y))

True
False
True
1937161806272
1937161805824

In [15]:
x=["apple","banana"]
y=["apple","banana"]
z=x
print(x is z)
print(id(x))
print(id(z))
print(id(y))

True
1937161621504
1937161621504
1937161921280

In [3]:
a=8
b=a
a is b

True

In [17]:
0 is not False

<>:1: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
C:\Users\Admin\AppData\Local\Temp\ipykernel_7120\1166683470.py:1: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
  0 is not False

True