## **Python Data Types**

a data type is a classification that specifies the type of value a variable holds. Python has various built-in data types that are used to define the operations possible on those variables and the storage method for each of them

## **Primitive Data Type**
### **1. Integer**
Most common data type used to store numbers without decimal or fractional component.

In [53]:
a = 5
b = -5
print(type(b))
b

<class 'int'>

-5

In [54]:
t = 45
n = -75
type(n)

int

### **2. Float**
Numeric data type used to store number of fractional component or decimal

In [55]:
a = 5.623
type(a)

float

In [56]:
b=-5.25
print(type(b))
b

<class 'float'>

-5.25

### **3. String**

- Immutable: Once a string is created, its value cannot be changed. Any operation that modifies a string will return a new string.
- Indexed: Strings are sequences, so you can access individual characters using indexing. Python uses zero-based indexing.
- Slicable: You can extract substrings using slicing. The syntax is s[start:end], where the slice includes characters from start to end-1.
- Concatenation: Strings can be concatenated using the + operator.
- Repetition: Strings can be repeated using the * operator
- Multiline: Strings can span multiple lines using triple quotes (''' or """).
- Escape Sequences: Special characters can be included in strings using escape sequences.
Commonly used data type to store text. Anything written inside qoutation ('') or ("")

In [57]:
# Single quotes
single_quote_str = 'Hello, World!'

# Double quotes
double_quote_str = "Hello, World!"

# Triple quotes (for multi-line strings)
triple_single_quote_str = '''This is a
multi-line string.'''

triple_double_quote_str = """This is also a
multi-line string."""

triple_double_quote_str

'This is also a\nmulti-line string.'

In [58]:
s = "Python"
first_char = s[0]  
last_char = s[-1] 

print(first_char, last_char)

s = "Python"
substring = s[1:4]  
substring

P n

'yth'

In [59]:
s = "Hello, World!"
length = len(s)  
length

13

In [60]:
# String Concatenation
s1 = "Hello"
s2 = "World"
s3 = s1 + ", " + s2 + "!" 
s3

'Hello, World!'

In [61]:
# Repeatation
s = "Hello"
s_repeated = s * 3   
s_repeated

'HelloHelloHello'

In [62]:
# Case Conversion
s = "Hello, World!"
s_upper = s.upper()   
s_lower = s.lower()   
s_title = s.title()   
s_capitalize = s.capitalize()  

print(s_upper)
print(s_lower)
print(s_title)
print(s_capitalize)

HELLO, WORLD!
hello, world!
Hello, World!
Hello, world!

In [63]:
# Replacing Substrings
s = "Hello, World!"
s_replace = s.replace("World", "Python")   #
s_replace

'Hello, Python!'

In [64]:
# Finding Substrings
s = "Hello, World!"
index = s.find("World")   
rindex = s.rfind("World") # (searches from the right)
print(index)
print(rindex)

7
7

In [65]:
s_join = "-".join(s_split)   # 'Hello-World'
s_join

NameError: name 's_split' is not defined

In [13]:
s = "Hello, World! Python"
s_split = s.split(" ")   # ['Hello', ' World!']
s_split

['Hello,', 'World!', 'Python']

In [ ]:
a = "ML"
b = '10'
print(type(a))
print(type(b))

<class 'str'>
<class 'str'>

In [ ]:
# Concatenate
str1 = 'Hello'
str2 = ' World'

result = str1+str2
print(result)

Hello World

In [4]:
# Checking String Properties
s = "Hello"
is_alpha = s.isalpha()   
is_digit = s.isdigit()   
is_alnum = s.isalnum()   
is_upper = s.isupper()   
is_lower = s.islower() 
print(is_alpha, is_digit, is_alnum, is_upper, is_lower)

True False True False False

#### 4. Boolean
Represents the values TRUE or FALSE

In [15]:
a = True
print('The data type of a: ',type(a))
print('The value of a: ',bool(a))
print(a)

The data type of a:  <class 'bool'>
The value of a:  True
True

In [16]:
is_true = True
is_false = False

print(is_true)  
print(is_false)

True
False

In [ ]:
x = 5
y = 10

# Comparison operators return Boolean values
is_equal = x == y
is_not_equal = x != y

print(is_equal)     
print(is_not_equal)

False
True

In [ ]:
a = True
b = False

# Logical AND
result_and = a and b

# Logical OR
result_or = a or b

# Logical NOT
result_not = not a
print(result_not, result_or, result_and)

False True False

In [17]:
number = 42

if number > 50:
    print("The number is greater than 50.")
else:
    print("The number is not greater than 50.")

The number is not greater than 50.

In [ ]:
no_value = None
type(no_value)

NoneType

### **Primitive Data Type conversion**
Data type conversion, also known as type casting.

In [18]:
a = 5
#Integer to float
b = float(a)
print(b)
type(b)

5.0

float

In [19]:
a = 5.0
#float to Integer
b=int(a)
print('a is {} and data type of a is {}'.format(b, type(b)))

a is 5 and data type of a is <class 'int'>

In [21]:
x = '15'
y = int(x)
y

15

In [22]:
#String to Integer or float
c = '10' #value should be numarical in the string
print(type(c))
d,e = int(c), float(c)
print('d is {} and e is {}'.format(d,e))
print(type(d), type(e))

<class 'str'>
d is 10 and e is 10.0
<class 'int'> <class 'float'>

In [23]:
#invalid conversion 
sa = 'sameer'
sam = int(sa),float(sa)
print(sam) #ValueError: invalid literal for int() with base 10: 'sameer'

ValueError: invalid literal for int() with base 10: 'sameer'

In [25]:
a = int(input('Tell a number '))
b = int(input('tell second number '))
c = a+b
print('the sum is ',c)
print("type of c ", type(c), float(c))

the sum is  20
type of c  <class 'int'> 20.0

In [26]:
# float to string
a = 2.5
b = str(a)
print(b)
print(type(b))

2.5
<class 'str'>

In [27]:
#int to str
a = 5
b = str(a)
print(b)
print(type(b))

5
<class 'str'>

In [ ]:
e = 2.1
int(e)

2

## **Non-primitive Data Type**

### **1. Lists**
Python lists are similar to array in 'C'. However a list can contain data of different types.
- Elements are enclosed within square brackets.
- Elements are separated by comma(,).
- Lists are mutable and ordered(indexed).

In [32]:
# Creating a list
fruits = ["apple", "banana", "orange", "grape"]

In [34]:
# Accessing elements
print(fruits[1])

banana

In [35]:
# Modifying elements
fruits[1] = "kiwi"
print(fruits)

['apple', 'kiwi', 'orange', 'grape']

In [36]:
# Adding elements
fruits.append("melon")
print(fruits)

['apple', 'kiwi', 'orange', 'grape', 'melon']

In [37]:
fruits.append(["pinapple", "Banana"])
print(fruits)

['apple', 'kiwi', 'orange', 'grape', 'melon', ['pinapple', 'Banana']]

In [38]:
fruits[5][0]

'pinapple'

In [40]:
fruits.extend(["pinapple", "Banana"])
print(fruits)

['apple', 'kiwi', 'orange', 'grape', 'melon', ['pinapple', 'Banana'], 'pinapple', 'Banana', 'pinapple', 'Banana']

In [41]:
fruits[5][1]

'Banana'

In [42]:
# Insert
# Inserts an element at a specific index.
fruits.insert(2, "pear")
print(fruits)

['apple', 'kiwi', 'pear', 'orange', 'grape', 'melon', ['pinapple', 'Banana'], 'pinapple', 'Banana', 'pinapple', 'Banana']

In [43]:
# Pop
# Removes and returns the element at the specified index. If no index is provided, it removes and returns the last element.
popped_fruit = fruits.pop(7)
print(popped_fruit)
print(fruits)

pinapple
['apple', 'kiwi', 'pear', 'orange', 'grape', 'melon', ['pinapple', 'Banana'], 'Banana', 'pinapple', 'Banana']

In [44]:
# Removing elements
# Removes the first occurrence of the specified element.
fruits.remove("orange")
print(fruits)

['apple', 'kiwi', 'pear', 'grape', 'melon', ['pinapple', 'Banana'], 'Banana', 'pinapple', 'Banana']

In [45]:
# List length
# finding length of the list
print(len(fruits))

9

In [46]:
# Index
# Returns the index of the first occurrence of the specified element.
index_of_apple = fruits.index('melon')
print(index_of_apple)

4

In [47]:
fruits.append('apple')
fruits

['apple',
 'kiwi',
 'pear',
 'grape',
 'melon',
 ['pinapple', 'Banana'],
 'Banana',
 'pinapple',
 'Banana',
 'apple']

In [51]:
fruits.insert(7, 56)
print(fruits)

['apple', 'grape', 'kiwi', 'melon', 'pear', ['pinapple', 'Banana'], 'pinapple', 56, 'Banana', 'apple']

In [54]:
fruits.remove(56)
print(fruits)

['apple', 'grape', 'kiwi', 'melon', 'pear', ['pinapple', 'Banana'], 'Banana', 'apple']

In [59]:
fruits.pop(5)
print(fruits)

['apple', 'grape', 'kiwi', 'melon', 'pear', 'Banana', 'apple']

In [53]:
# Count
# Returns the number of occurrences of the specified element.
num_apples = fruits.count("apple")
print(num_apples)

2

In [61]:
# Sort
# Sorts the elements of the list in ascending order.
# sorting the list in default ascending order
fruits.sort()
print(fruits)

['Banana', 'apple', 'apple', 'grape', 'kiwi', 'melon', 'pear']

In [64]:
a = [12,10,4,8,9,15,24,35,25.5]
a.sort()
print(a)

[4, 8, 9, 10, 12, 15, 24, 25.5, 35]

In [65]:
a.sort(reverse=True)
a

[35, 25.5, 24, 15, 12, 10, 9, 8, 4]

In [66]:
fruits.sort(reverse=True)
print(fruits)

['pear', 'melon', 'kiwi', 'grape', 'apple', 'apple', 'Banana']

In [68]:
# Reverse
# Reverses the order of the elements in the list.
fruits.reverse()
print(fruits)

['Banana', 'apple', 'apple', 'grape', 'kiwi', 'melon', 'pear']

In [69]:
# Display the final list
print("Final List:", fruits)

Final List: ['Banana', 'apple', 'apple', 'grape', 'kiwi', 'melon', 'pear']

In [70]:
f = fruits.copy()
print(f)

['Banana', 'apple', 'apple', 'grape', 'kiwi', 'melon', 'pear']

In [82]:
# List of integers
list1 = [1, 2, 3, 4, -4, 0, 2.45, None]
print(type(list1), "\n")

<class 'list'>

In [72]:
# List of floats
list2 = [1.01, 2.8, 3.4, 7.8]

In [73]:
# List of strings
list3 = ['a', 'b', 'c', 'd']

In [81]:
# List of different data types
list4 = [1, 1.01, 'a']
type(list4[2])

str

In [ ]:
# To check how many elements in a given list
print(len(list1))

7

##### Accessing elements and Slicing

In [84]:
list5 = ['a','b','c','d','e','f','g','h','i']

In [85]:
list5.index('a')

0

In [86]:
# we can access any element in a given list based on Indices
list5[2:7:3]

['c', 'f']

In [87]:
# we can access any element in a given list based on Index range: list[Start:End]
list5[1:4]

['b', 'c', 'd']

In [ ]:
list5[2:5:1]

['c', 'd', 'e']

In [ ]:
#Reverse index accessing/slicing
list5[-2]

'h'

In [88]:
list5[-4:-1]

['f', 'g', 'h']

In [89]:
list5[-3:]

['g', 'h', 'i']

In [ ]:
list5.clear()
print(list5)

[]

In [6]:
sam = [5,9,4,7,5,9,5,7,2,3,'no',5.12]

In [9]:
sam.reverse()
print(sam)

[5.12, 'no', 3, 2, 7, 5, 9, 5, 7, 4, 9, 5]

In [92]:
sam.pop(10)
print(sam)

[5, 9, 4, 7, 5, 9, 5, 7, 2, 3, 5.12]

In [93]:
sam.sort()
print(sam)

[2, 3, 4, 5, 5, 5, 5.12, 7, 7, 9, 9]

In [94]:
sam.sort(reverse=True)
print(sam)

[9, 9, 7, 7, 5.12, 5, 5, 5, 4, 3, 2]

In [95]:
sam[0] = 10
sam

[10, 9, 7, 7, 5.12, 5, 5, 5, 4, 3, 2]

In [96]:
print(sum(sam))
print(sum(sam)/len(sam))
print(max(sam))
print(min(sam))

from statistics import mean, median, stdev, mode
print(mean(sam))
print(median(sam))
print(stdev(sam))
print(mode(sam))

62.12
5.647272727272727
10
2
5.647272727272727
5
2.4167295707591734
5

Exercise : Check and work on operations like Count, sort and insert

In [10]:
#List of Lists
x = [1,2,3]
y = [5,6,7]
l = x + y
z = [x,y]
print(l) #concatenation
print(z)

[1, 2, 3, 5, 6, 7]
[[1, 2, 3], [5, 6, 7]]

In [11]:
z[0][1]

2

In [12]:
print(z[1][2])

7

In [3]:
# Initialize a list
my_list = [1, 2, 3, 4, 5]

# Interchange first and last elements
my_list[0], my_list[-1] = my_list[-1], my_list[0]

# Print the modified list
print("List after swapping first and last elements:", my_list)

List after swapping first and last elements: [5, 2, 3, 4, 1]

In [52]:
list = (1, 2, 3)

a,*b = list

print(a)
print(b)
print(c)

1
[2, 3]
3

In [5]:
a = [1, 2, 3]
b = [4, 5, 6]
c = [a,b]
c

[[1, 2, 3], [4, 5, 6]]

In [4]:
a = [1, 2, 3]
b = [4, 5, 6]

# Use the unpacking operator to merge the lists
c = [*a, *b]

print(c)

[1, 2, 3, 4, 5, 6]

### **2. Tuples**
A data structure which is a collection of data which is ordered and unchngeable. Tuples are simply immutable lists.
- Elements are enclosed within paranthesis.
- Elements are separated by comma(,).
- Tuples are immutable and ordered(indexed).

In [38]:
# Creating a tuple
coordinates = (3, 7, 4)
print(coordinates)

(3, 7, 4)

In [31]:
# Accessing elements
x = coordinates[0]
y = coordinates[1]
print(x , y)

3 7

In [4]:
coordinates.index(4)

2

In [5]:
coordinates.count(3)

1

In [6]:
coordinates.append(1)

AttributeError: 'tuple' object has no attribute 'append'

In [33]:
# Tuple unpacking
a, b, c = (3, 7, 4)
print(a)

3

In [8]:
coordinates

(3, 7, 4)

In [9]:
# Immutability
# Uncommenting the line below will result in an error since tuples are immutable.
coordinates[0] = 5

TypeError: 'tuple' object does not support item assignment

In [39]:
# Creating a new tuple with additional element
new_coordinates = coordinates + (5, 4)
new_coordinates

(3, 7, 4, 5, 4)

In [40]:
# Displaying the final results
print("Original Coordinates:", coordinates)
print("New Coordinates:", new_coordinates)

Original Coordinates: (3, 7, 4)
New Coordinates: (3, 7, 4, 5, 4)

In [41]:
T1 = (1,2,3)
T2 = (4,5,6)
T3 = T1 + T2
print(T3)
type(T3)

(1, 2, 3, 4, 5, 6)

tuple

In [43]:
#Accessing
T3[0:7:2]

(1, 3, 5)

In [17]:
T3[:2]

(1, 2)

In [18]:
T3[1:]

(2, 3, 4, 5, 6)

In [19]:
T3[-5:-1]

(2, 3, 4, 5)

In [44]:
#Tuples can contain list as an element and the list inside a tuple is mutable
T4 = (1,2,3,[5,6])
T4[3].append(5)
T4

(1, 2, 3, [5, 6, 5])

In [46]:
l1=[1,2,3]
l2 = [4,5,6]
z=(*l1,*l2)
z

(1, 2, 3, 4, 5, 6)

In [25]:
a =("q",1,"c",5,6,9,10,25,368,52, [4, 1.2, 3])
type(a[10][0])

int

In [ ]:
a[5:9]

(9, 10, 25, 368)

In [37]:
sa = (1,2,3,4,5)

In [38]:
print(sum(sa))
print(sum(sa)/len(sa))
print(max(sa))
print(min(sa))

from statistics import mean, median, variance, stdev, mode

print(mean(sa))
print(median(sa))
print(mode(sa))
print(variance(sa))
print(stdev(sa))
print(mode(sa))

15
3.0
5
1
3
3
1
2.5
1.5811388300841898
1

### **3. Dictionary**
Dictionary is used to store the data in a 'KEY:VALUE' pair format. Like a map or hash table in other languages.
- Dictionary is mutable but unordered
- All the elements are enclosed within flower brackets{}.
- Each element is separated by comma
- Each element is nothing but a 'KEY:VALUE' pair.
- KEY must be a single element and unique
- VALUE can be of any type like int, str, float, list, tuple.

#### Syntax Example:
Dictionary = {Key1:Value1, Key2:Value2, Key3:Value3}

In [67]:
# Creating a dictionary
student_info = {'name': ['John', 'Bhavan'], 'age': [20, 23], 'grade': ['A','B']}
student_info

{'name': ['John', 'Bhavan'], 'age': [20, 23], 'grade': ['A', 'B']}

In [68]:
# Copying the dict
new_dict = student_info.copy()
print(new_dict)

{'name': ['John', 'Bhavan'], 'age': [20, 23], 'grade': ['A', 'B']}

In [69]:
new_dict['age']

[20, 23]

In [70]:
student_info['age'][0]

20

In [71]:
# Accessing values using keys.
name = student_info['name']
age = student_info['age']
print(f"Name: {name}, Age: {age}")

Name: ['John', 'Bhavan'], Age: [20, 23]

In [73]:
# get method
new_dict.get('age')

[20, 23]

In [48]:
new_dict

{'name': ['John', 'Bhavan'], 'age': [20, 23], 'grade': ['A', 'B']}

In [74]:
# items method
items = new_dict.items()
print(items)

dict_items([('name', ['John', 'Bhavan']), ('age', [20, 23]), ('grade', ['A', 'B'])])

In [76]:
for i,j in new_dict.items():
    print(i,j)
    for k in j:
        print(k)

name ['John', 'Bhavan']
John
Bhavan
age [20, 23]
20
23
grade ['A', 'B']
A
B

In [51]:
# keys method
keys = new_dict.keys()
print(keys)

dict_keys(['name', 'age', 'grade'])

In [77]:
# values method
values = new_dict.values()
print(values)

dict_values([['John', 'Bhavan'], [20, 23], ['A', 'B']])

In [53]:
student_info

{'name': ['John', 'Bhavan'], 'age': [20, 23], 'grade': ['A', 'B']}

In [78]:
# Modifying the value associated with a key.
student_info['age'][0] = 21
print(student_info)

{'name': ['John', 'Bhavan'], 'age': [21, 23], 'grade': ['A', 'B']}

In [79]:
# Using update method to modify a value
student_info.update({'city': ['Blore', 'Mumbai']})
print(student_info)

{'name': ['John', 'Bhavan'], 'age': [21, 23], 'grade': ['A', 'B'], 'city': ['Blore', 'Mumbai']}

In [80]:
student_info.keys()

dict_keys(['name', 'age', 'grade', 'city'])

In [81]:
# Using setdefault method
country = student_info.setdefault('country', 'India')
print(country)
print(student_info)

India
{'name': ['John', 'Bhavan'], 'age': [21, 23], 'grade': ['A', 'B'], 'city': ['Blore', 'Mumbai'], 'country': 'India'}

In [82]:
# Removing key-value pairs.
del student_info['country']
print(student_info)

{'name': ['John', 'Bhavan'], 'age': [21, 23], 'grade': ['A', 'B'], 'city': ['Blore', 'Mumbai']}

In [83]:
# Using pop method to remove a key-value pair
popi = student_info.pop('grade')
print(popi)
print(student_info)

['A', 'B']
{'name': ['John', 'Bhavan'], 'age': [21, 23], 'city': ['Blore', 'Mumbai']}

In [61]:
# Determining the number of key-value pairs in a dictionary.
length = len(student_info)
print(length)

3

In [84]:
captains = {}
captains["India"] = "Virat Kohli"
captains["Pakistan"] = "Babar Azam"
captains["Australia"] = "Tim Paine"
captains["South Africa"] = "Du Plesis"

print(captains)

{'India': 'Virat Kohli', 'Pakistan': 'Babar Azam', 'Australia': 'Tim Paine', 'South Africa': 'Du Plesis'}

In [2]:
captains["India"]

'Virat Kohli'

In [3]:
captains.get("India")

'Virat Kohli'

In [4]:
print(captains.pop("India"))

Virat Kohli

In [5]:
captains

{'Pakistan': 'Babar Azam',
 'Australia': 'Tim Paine',
 'South Africa': 'Du Plesis'}

In [6]:
#Let's change the captain of India(locally:)
captains["India"] = 'Rohith Sharma'
captains

{'Pakistan': 'Babar Azam',
 'Australia': 'Tim Paine',
 'South Africa': 'Du Plesis',
 'India': 'Rohith Sharma'}

In [85]:
#add new key:value pair
captains['England'] = 'Ben Stokes'
captains

{'India': 'Virat Kohli',
 'Pakistan': 'Babar Azam',
 'Australia': 'Tim Paine',
 'South Africa': 'Du Plesis',
 'England': 'Ben Stokes'}

In [87]:
# Nested Dictionary
captains['England'] = {'T20':'Ben Stokes','ODI':'Eoin Morgan', 'Test':'Joe Root'}
captains

{'India': 'Virat Kohli',
 'Pakistan': 'Babar Azam',
 'Australia': 'Tim Paine',
 'South Africa': 'Du Plesis',
 'England': {'T20': 'Ben Stokes', 'ODI': 'Eoin Morgan', 'Test': 'Joe Root'}}

In [88]:
captains['England']['ODI']

'Eoin Morgan'

In [10]:
captains['England']['T20']

'Ben Stokes'

In [89]:
captains.update({'India': [('T20', 'Surya Kumar Yadav'), ('ODI', 'Rohit Sharma'), ('Test', 'Rohit Sharma')]})

In [90]:
captains

{'India': [('T20', 'Surya Kumar Yadav'),
  ('ODI', 'Rohit Sharma'),
  ('Test', 'Rohit Sharma')],
 'Pakistan': 'Babar Azam',
 'Australia': 'Tim Paine',
 'South Africa': 'Du Plesis',
 'England': {'T20': 'Ben Stokes', 'ODI': 'Eoin Morgan', 'Test': 'Joe Root'}}

In [91]:
captains['India'][1][1]

'Rohit Sharma'

In [92]:
print(captains)

{'India': [('T20', 'Surya Kumar Yadav'), ('ODI', 'Rohit Sharma'), ('Test', 'Rohit Sharma')], 'Pakistan': 'Babar Azam', 'Australia': 'Tim Paine', 'South Africa': 'Du Plesis', 'England': {'T20': 'Ben Stokes', 'ODI': 'Eoin Morgan', 'Test': 'Joe Root'}}

In [93]:
captains['India'][0][1]

'Surya Kumar Yadav'

In [94]:
listoftuples = captains.items() #returns a list of tuples containing key-value. Hence, a dictionary can be created using a list of tuples.
print(listoftuples)

dict_items([('India', [('T20', 'Surya Kumar Yadav'), ('ODI', 'Rohit Sharma'), ('Test', 'Rohit Sharma')]), ('Pakistan', 'Babar Azam'), ('Australia', 'Tim Paine'), ('South Africa', 'Du Plesis'), ('England', {'T20': 'Ben Stokes', 'ODI': 'Eoin Morgan', 'Test': 'Joe Root'})])

In [98]:
alphnumaric = {"Milon":550, "Banana": 50, "Olive": 20, "Tomato": 150, "Potato": 30, "Onion": 40, "Garlic": 70, "Ginger": 60}

print(sum(alphnumaric.values()))
print(max(alphnumaric.values()))
print(min(alphnumaric.values()))
print(sorted(alphnumaric.values()))
print(sorted(alphnumaric.values(), reverse=True))

970
550
20
[20, 30, 40, 50, 60, 70, 150, 550]
[550, 150, 70, 60, 50, 40, 30, 20]

### **4. Sets**

Collection of unordered items/elements.
- Elements/items are enclosed within flower brackets{}
- Sets are mutable
- Each element/item must be unique
- Sets remove duplicate values and returns sorted values
- unorder

In [99]:
# Creating a set
unique_numbers = {1, 2, 3, 4, 5, 1, 2 ,7}
unique_numbers

{1, 2, 3, 4, 5, 7}

In [100]:
# Adding elements to a set
unique_numbers.add(6)
print(unique_numbers)

{1, 2, 3, 4, 5, 6, 7}

In [102]:
# Removing elements from a set
unique_numbers.remove(7)
print(unique_numbers)

{1, 2, 3, 4, 5, 6}

In [103]:
# Determining the number of elements in a set
length = len(unique_numbers)
print(length)

6

In [27]:
# Set operations
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Set operations like union, intersection, and difference
union_set = set1.union(set2)
intersection_set = set1.intersection(set2)
difference_set = set2.difference(set1)
print("Union:", union_set)
print("Intersection:", intersection_set)
print("Difference:", difference_set)

Union: {1, 2, 3, 4, 5}
Intersection: {3}
Difference: {4, 5}

In [106]:
# Example: Finding unique words in a text
text = "Python is powerful, Python is versatile, Python is fun"
unique_words = set(text.split(' ')) #[Python, is, powerful,, versatile,, fun]
unique_words

{'Python', 'fun', 'is', 'powerful,', 'versatile,'}

In [107]:
set1 = {4,3,5,5,6}
set1

{3, 4, 5, 6}

In [108]:
a = [1,1,2,6,2,3,8,4]
b = set(a)
b

{1, 2, 3, 4, 6, 8}

In [109]:
a = (1,2,2,6,5,8,5,5)
d = set(a)
d

{1, 2, 5, 6, 8}

In [110]:
print(sum(d))
print(sum(d)/len(d))
print(max(d))
print(min(d))

from statistics import mean, median, variance, stdev, mode
print(mean(d))
print(median(d))
print(variance(d))
print(stdev(d))
print(mode(d))

22
4.4
8
1
4.4
5
8.3
2.8809720581775866
1

## **Non-Primitive Data type conversion**

A nested Data structure is a collection of data structure in one another like a list of lists, a list of tuples, a tuple of tuples...

In [43]:
# List to Tuple (and Vice Versa):
# From List to Tuple:
my_list = [1, 2, 3, 4, 5] 
my_tuple = tuple(my_list)
print(my_tuple)
type(my_tuple)

(1, 2, 3, 4, 5)

tuple

In [45]:
# From List to Set:
my_list = [1, 2, 2, 3, 4, 4, 5]
my_set = set(my_list)
print(my_set)
type(my_set)

{1, 2, 3, 4, 5}

set

In [47]:
# List of Tuples to Dictionary:
my_list_of_tuples = [["apple", 5], ["banana", 2], ["orange", 3]]
my_dict = dict(my_list_of_tuples)
print(my_dict)

{'apple': 5, 'banana': 2, 'orange': 3}

In [48]:
# From Tuple to List:
my_tuple = (1, 2, 3, 4, 5)
my_list = list(my_tuple)
print(my_list)
type(my_list)

[1, 2, 3, 4, 5]

list

In [49]:
# tuple to Set (and Vice Versa):
# From tuple to Set:
my_list = (1, 2, 2, 3, 4, 4, 5)
my_set = set(my_list)
print(my_set)

{1, 2, 3, 4, 5}

In [52]:
# Tuple to Dictionary:
my_tuple = (("apple", 5), ("banana", 2), ("orange", 3))
my_dict = dict(my_tuple)
print(my_dict)
my_dict.keys()

{'apple': 5, 'banana': 2, 'orange': 3}

dict_keys(['apple', 'banana', 'orange'])

In [53]:
# Dictionary to List of Tuples
my_dict = {"apple": 5, "banana": 2, "orange": 3}
my_list_of_tuples = list(my_dict.items())
print(my_list_of_tuples)

[('apple', 5), ('banana', 2), ('orange', 3)]

In [54]:
my_dict = {"apple": 5, "banana": 2, "orange": 3}
tuple_of_tuples = tuple(my_dict.items())
print(my_list_of_tuples)

(('apple', 5), ('banana', 2), ('orange', 3))

In [55]:
# Set to List (and Vice Versa)
# From Set to List:
my_set = {1, 2, 3, 4, 5}
my_list = list(my_set)
print(my_list)

[1, 2, 3, 4, 5]

In [56]:
# From Set to Tuple:
my_set = {1, 2, 3, 4, 5}
my_list = tuple(my_set)
print(my_list)

(1, 2, 3, 4, 5)

In [57]:
a  = [12,2,5,6,9,7,8,6]
b = tuple(a)
b

(12, 2, 5, 6, 9, 7, 8, 6)

In [58]:
a = (2,5,6,9,7,8,6)
c = list(a)
c

[2, 5, 6, 9, 7, 8, 6]

In [ ]:
# A list of tuples, A tuple as an element can be replaced/added/removed from the list but element tuple itself is still immutable
a1 = [1,2,3,(5,6,7)]
a1[1]
a1[1] = 5
a1

[1, 5, 3, (5, 6, 7)]

In [ ]:
#A tuple of lists, A list as an element inside a tuple can not be replaced/added/removed but elements inside element list are mutable
a1 = (1,2,3,[5,6,7])
a1[-1][0]
a1[-1][0] = 9
a1

(1, 2, 3, [9, 6, 7])

Exercise: 
- Try converting a Dictionary alone to a list and tuple
- Try conversion between data structures