In [ ]:
#pip install mysql.connector.python
#pip install pandas sqlalchemy mysql-connector-python

In [14]:
import pandas as pd
from sqlalchemy import create_engine, types

### **Car Dataset**

In [17]:
# Load the dataset
df = pd.read_csv(r'D:\Python\EDA\Car\Car\Car.csv')

# Define MySQL connection string
engine = create_engine('mysql+mysqlconnector://root:Sameer%40786@localhost/eda_practice')

# Define data types for MySQL table
dtype_mapping = {
    'S.No.': types.Integer(),
    'Name': types.String(255),
    'Location': types.String(255),
    'Year': types.Integer(),
    'Kilometers_Driven': types.Integer(),
    'Fuel_Type': types.String(50),
    'Transmission': types.String(50),
    'Owner_Type': types.String(50),
    'Mileage': types.String(50),
    'Engine': types.String(50),
    'Power': types.String(50),
    'Seats': types.Float(),
    'New_Price': types.String(255),  # Adjust length based on your data
    'Price': types.Float()
}

# Write the DataFrame to the MySQL table, handling null values
df.to_sql(name='cars', con=engine, if_exists='replace', index=False, dtype=dtype_mapping)

print("Data loaded successfully.")

Data loaded successfully.

### **Global Super Store Dataset**

In [28]:
# Load the dataset
df = pd.read_csv(r'D:\Python\EDA\Global_Store\Global_SuperStore_16.csv', parse_dates=['Order Date', 'Ship Date'])

df.drop('Unnamed: 0', axis=1, inplace=True)

# Define MySQL connection string
engine = create_engine('mysql+mysqlconnector://root:Sameer%40786@localhost/eda_practice')

# Define data types for MySQL table
dtype_mapping = {
    'Row ID': types.Integer(),
    'Order ID': types.String(50),
    'Order Date': types.DateTime(),
    'Ship Date': types.DateTime(),
    'Ship Mode': types.String(50),
    'Customer ID': types.String(50),
    'Customer Name': types.String(100),
    'Segment': types.String(50),
    'Postal Code': types.Float(),  # Consider checking and handling missing values for postal codes
    'City': types.String(100),
    'State': types.String(50),
    'Country': types.String(50),
    'Region': types.String(50),
    'Market': types.String(50),
    'Product ID': types.String(50),
    'Category': types.String(50),
    'Sub-Category': types.String(50),
    'Product Name': types.String(255),
    'Sales': types.Float(),
    'Quantity': types.Integer(),
    'Discount': types.Float(),
    'Profit': types.Float(),
    'Shipping Cost': types.Float(),
    'Order Priority': types.String(50),
    'Returned': types.String(50)  # Adjust length if needed
}

# Write the DataFrame to the MySQL table, handling null values
df.to_sql(name='global_superstore', con=engine, if_exists='replace', index=False, dtype=dtype_mapping)

print("Data loaded successfully.")

Data loaded successfully.

In [34]:
import mysql.connector
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [35]:
mydb = mysql.connector.connect(
  host="localhost",               #hostname
  user="root",                   # the user who has privilege to the db
  passwd="Sameer@786",               #password for user
  database="eda_practice",               #database name
)

In [33]:
#mydb.close()

In [36]:
query = "select * from global_superstore;"

In [38]:
b = pd.read_sql(query,mydb)
b.head(2)

C:\Users\Admin\AppData\Local\Temp\ipykernel_18408\2144673299.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  b = pd.read_sql(query,mydb)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,...,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,Returned
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,...,Technology,Phones,Samsung Convoy 3,221.98,2,0.0,62.1544,40.77,High,None
1,26341,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,...,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.40,9,0.1,-288.7650,923.63,Critical,None

In [40]:
b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          51290 non-null  int64
 1   Order ID        51290 non-null  object
 2   Order Date      51290 non-null  datetime64[ns]
 3   Ship Date       51290 non-null  datetime64[ns]
 4   Ship Mode       51290 non-null  object
 5   Customer ID     51290 non-null  object
 6   Customer Name   51290 non-null  object
 7   Segment         51290 non-null  object
 8   Postal Code     9994 non-null   float64
 9   City            51290 non-null  object
 10  State           51290 non-null  object
 11  Country         51290 non-null  object
 12  Region          51290 non-null  object
 13  Market          51290 non-null  object
 14  Product ID      51290 non-null  object
 15  Category        51290 non-null  object
 16  Sub-Category    51290 non-null  object
 17  Product Name    51290 non-null  object
 18  Sales           51290 non-null  float64
 19  Quantity        51290 non-null  int64
 20  Discount        51290 non-null  float64
 21  Profit          51290 non-null  float64
 22  Shipping Cost   51290 non-null  float64
 23  Order Priority  51290 non-null  object
 24  Returned        2202 non-null   object
dtypes: datetime64[ns](2), float64(5), int64(2), object(16)
memory usage: 9.8+ MB

In [39]:
b.isnull().sum() #checking for null values

Row ID                0
Order ID              0
Order Date            0
Ship Date             0
Ship Mode             0
Customer ID           0
Customer Name         0
Segment               0
Postal Code       41296
City                  0
State                 0
Country               0
Region                0
Market                0
Product ID            0
Category              0
Sub-Category          0
Product Name          0
Sales                 0
Quantity              0
Discount              0
Profit                0
Shipping Cost         0
Order Priority        0
Returned          49088
dtype: int64