In [ ]:
#pip install mysql.connector.python
#pip install pandas sqlalchemy mysql-connector-python

In [2]:
import pandas as pd
from sqlalchemy import create_engine, types

### **Car Dataset**

In [3]:
# Load the dataset
df = pd.read_csv(r'D:\Python\EDA\Car\Car\Car.csv')

# Define MySQL connection string
engine = create_engine('mysql+mysqlconnector://root:Sameer%40786@localhost/eda_practice')

# Define data types for MySQL table
dtype_mapping = {
    'S.No.': types.Integer(),
    'Name': types.String(255),
    'Location': types.String(255),
    'Year': types.Integer(),
    'Kilometers_Driven': types.Integer(),
    'Fuel_Type': types.String(50),
    'Transmission': types.String(50),
    'Owner_Type': types.String(50),
    'Mileage': types.String(50),
    'Engine': types.String(50),
    'Power': types.String(50),
    'Seats': types.Float(),
    'New_Price': types.String(255),  # Adjust length based on your data
    'Price': types.Float()
}

# Write the DataFrame to the MySQL table, handling null values
df.to_sql(name='cars', con=engine, if_exists='replace', index=False, dtype=dtype_mapping)

print("Data loaded successfully.")

Data loaded successfully.

### **Global Super Store Dataset**

In [28]:
# Load the dataset
df = pd.read_csv(r'D:\Python\EDA\Global_Store\Global_SuperStore_16.csv', parse_dates=['Order Date', 'Ship Date'])

df.drop('Unnamed: 0', axis=1, inplace=True)

# Define MySQL connection string
engine = create_engine('mysql+mysqlconnector://root:Sameer%40786@localhost/eda_practice')

# Define data types for MySQL table
dtype_mapping = {
    'Row ID': types.Integer(),
    'Order ID': types.String(50),
    'Order Date': types.DateTime(),
    'Ship Date': types.DateTime(),
    'Ship Mode': types.String(50),
    'Customer ID': types.String(50),
    'Customer Name': types.String(100),
    'Segment': types.String(50),
    'Postal Code': types.Float(),  # Consider checking and handling missing values for postal codes
    'City': types.String(100),
    'State': types.String(50),
    'Country': types.String(50),
    'Region': types.String(50),
    'Market': types.String(50),
    'Product ID': types.String(50),
    'Category': types.String(50),
    'Sub-Category': types.String(50),
    'Product Name': types.String(255),
    'Sales': types.Float(),
    'Quantity': types.Integer(),
    'Discount': types.Float(),
    'Profit': types.Float(),
    'Shipping Cost': types.Float(),
    'Order Priority': types.String(50),
    'Returned': types.String(50)  # Adjust length if needed
}

# Write the DataFrame to the MySQL table, handling null values
df.to_sql(name='global_superstore', con=engine, if_exists='replace', index=False, dtype=dtype_mapping)

print("Data loaded successfully.")

Data loaded successfully.

In [34]:
import mysql.connector
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [35]:
mydb = mysql.connector.connect(
  host="localhost",               #hostname
  user="root",                   # the user who has privilege to the db
  passwd="Sameer@786",               #password for user
  database="eda_practice",               #database name
)

In [33]:
#mydb.close()

In [36]:
query = "select * from global_superstore;"

In [38]:
b = pd.read_sql(query,mydb)
b.head(2)

C:\Users\Admin\AppData\Local\Temp\ipykernel_18408\2144673299.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  b = pd.read_sql(query,mydb)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,...,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,Returned
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,...,Technology,Phones,Samsung Convoy 3,221.98,2,0.0,62.1544,40.77,High,None
1,26341,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,...,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.40,9,0.1,-288.7650,923.63,Critical,None

In [40]:
b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          51290 non-null  int64
 1   Order ID        51290 non-null  object
 2   Order Date      51290 non-null  datetime64[ns]
 3   Ship Date       51290 non-null  datetime64[ns]
 4   Ship Mode       51290 non-null  object
 5   Customer ID     51290 non-null  object
 6   Customer Name   51290 non-null  object
 7   Segment         51290 non-null  object
 8   Postal Code     9994 non-null   float64
 9   City            51290 non-null  object
 10  State           51290 non-null  object
 11  Country         51290 non-null  object
 12  Region          51290 non-null  object
 13  Market          51290 non-null  object
 14  Product ID      51290 non-null  object
 15  Category        51290 non-null  object
 16  Sub-Category    51290 non-null  object
 17  Product Name    51290 non-null  object
 18  Sales           51290 non-null  float64
 19  Quantity        51290 non-null  int64
 20  Discount        51290 non-null  float64
 21  Profit          51290 non-null  float64
 22  Shipping Cost   51290 non-null  float64
 23  Order Priority  51290 non-null  object
 24  Returned        2202 non-null   object
dtypes: datetime64[ns](2), float64(5), int64(2), object(16)
memory usage: 9.8+ MB

In [39]:
b.isnull().sum() #checking for null values

Row ID                0
Order ID              0
Order Date            0
Ship Date             0
Ship Mode             0
Customer ID           0
Customer Name         0
Segment               0
Postal Code       41296
City                  0
State                 0
Country               0
Region                0
Market                0
Product ID            0
Category              0
Sub-Category          0
Product Name          0
Sales                 0
Quantity              0
Discount              0
Profit                0
Shipping Cost         0
Order Priority        0
Returned          49088
dtype: int64

In [1]:
class DataFrameAnalyzer:
    def __init__(self, file_path):
        self.df = pd.read_csv(file_path)
        
    def display_head(self):
        return self.df.head()
    
    def display_tail(self):
        return self.df.tail()
    
    def get_shape(self):
        return self.df.shape
    
    def get_columns(self):
        return self.df.columns
    
    def get_dtypes(self):
        return self.df.dtypes
    
    def get_info(self):
        buffer = pd.io.common.StringIO()
        self.df.info(buf=buffer)
        info_str = buffer.getvalue()
        return info_str
    
    def get_describe(self):
        return self.df.describe().T
    
    def get_missing_values(self):
        return self.df.isnull().sum()
    
    def get_duplicated_count(self):
        return self.df.duplicated().sum()
    
    def drop_duplicates(self):
        self.df.drop_duplicates(inplace=True)
        return self.df

# Example usage:
file_path = r"D:\Python\EDA\Global_Store\Global_SuperStore_16.csv"
analyzer = DataFrameAnalyzer(file_path)

# Use the methods
print(analyzer.display_head())
print(analyzer.display_tail())
print(analyzer.get_shape())
print(analyzer.get_columns())
print(analyzer.get_dtypes())
print(analyzer.get_info())
print(analyzer.get_describe())
print(analyzer.get_missing_values())
print(analyzer.get_duplicated_count())
analyzer.drop_duplicates()

   Unnamed: 0  Row ID                  Order ID  Order Date   Ship Date  \
0           0   40098  CA-2014-AB10015140-41954  2014-11-11  2014-11-13
1           1   26341    IN-2014-JR162107-41675  2014-02-05  2014-02-07
2           2   25330    IN-2014-CR127307-41929  2014-10-17  2014-10-18
3           3   13524   ES-2014-KM1637548-41667  2014-01-28  2014-01-30
4           4   47221   SG-2014-RH9495111-41948  2014-11-05  2014-11-06

      Ship Mode   Customer ID     Customer Name      Segment  Postal Code  \
0   First Class  AB-100151402     Aaron Bergman     Consumer      73120.0
1  Second Class     JR-162107     Justin Ritter    Corporate          NaN
2   First Class     CR-127307      Craig Reiter     Consumer          NaN
3   First Class    KM-1637548  Katherine Murray  Home Office          NaN
4      Same Day    RH-9495111       Rick Hansen     Consumer          NaN

   ...    Category Sub-Category                               Product Name  \
0  ...  Technology       Phones                           Samsung Convoy 3
1  ...   Furniture       Chairs  Novimex Executive Leather Armchair, Black
2  ...  Technology       Phones          Nokia Smart Phone, with Caller ID
3  ...  Technology       Phones             Motorola Smart Phone, Cordless
4  ...  Technology      Copiers             Sharp Wireless Fax, High-Speed

      Sales Quantity Discount    Profit Shipping Cost Order Priority  Returned
0   221.980        2      0.0   62.1544         40.77           High       NaN
1  3709.395        9      0.1 -288.7650        923.63       Critical       NaN
2  5175.171        9      0.1  919.9710        915.49         Medium       NaN
3  2892.510        5      0.1  -96.5400        910.16         Medium       NaN
4  2832.960        8      0.0  311.5200        903.04       Critical       NaN

[5 rows x 26 columns]
       Unnamed: 0  Row ID                  Order ID  Order Date   Ship Date  \
51285       51285   29002   IN-2015-KE1642066-42174  2015-06-19  2015-06-19
51286       51286   34337  US-2014-ZD21925140-41765  2014-05-06  2014-05-10
51287       51287   31315  CA-2012-ZD21925140-41147  2012-08-26  2012-08-31
51288       51288    9596   MX-2013-RB1979518-41322  2013-02-17  2013-02-21
51289       51289    6147   MX-2013-MC1810093-41416  2013-05-22  2013-05-26

            Ship Mode   Customer ID       Customer Name      Segment  \
51285        Same Day    KE-1642066     Katrina Edelman    Corporate
51286  Standard Class  ZD-219251408  Zuschuss Donatelli     Consumer
51287    Second Class  ZD-219251404  Zuschuss Donatelli     Consumer
51288  Standard Class    RB-1979518          Ross Baird  Home Office
51289    Second Class    MC-1810093       Mick Crebagga     Consumer

       Postal Code  ...         Category Sub-Category  \
51285          NaN  ...  Office Supplies    Fasteners
51286      37421.0  ...        Furniture  Furnishings
51287      94109.0  ...  Office Supplies          Art
51288          NaN  ...  Office Supplies      Binders
51289          NaN  ...  Office Supplies        Paper

                                        Product Name  Sales Quantity Discount  \
51285                  Advantus Thumb Tacks, 12 Pack  65.10        5      0.0
51286  Eldon Image Series Desk Accessories, Burgundy  16.72        5      0.2
51287                                     Newell 341   8.56        2      0.0
51288                        Acco Index Tab, Economy  13.44        2      0.0
51289        Eaton Computer Printout Paper, 8.5 x 11  61.38        3      0.0

       Profit Shipping Cost Order Priority  Returned
51285  4.5000         1.010         Medium       NaN
51286  3.3440         1.930           High       NaN
51287  2.4824         1.580           High       NaN
51288  2.4000         1.003         Medium       NaN
51289  1.8000         1.002           High       NaN

[5 rows x 26 columns]
(51290, 26)
Index(['Unnamed: 0', 'Row ID', 'Order ID', 'Order Date', 'Ship Date',
       'Ship Mode', 'Customer ID', 'Customer Name', 'Segment', 'Postal Code',
       'City', 'State', 'Country', 'Region', 'Market', 'Product ID',
       'Category', 'Sub-Category', 'Product Name', 'Sales', 'Quantity',
       'Discount', 'Profit', 'Shipping Cost', 'Order Priority', 'Returned'],
      dtype='object')
Unnamed: 0          int64
Row ID              int64
Order ID           object
Order Date         object
Ship Date          object
Ship Mode          object
Customer ID        object
Customer Name      object
Segment            object
Postal Code       float64
City               object
State              object
Country            object
Region             object
Market             object
Product ID         object
Category           object
Sub-Category       object
Product Name       object
Sales             float64
Quantity            int64
Discount          float64
Profit            float64
Shipping Cost     float64
Order Priority     object
Returned           object
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      51290 non-null  int64
 1   Row ID          51290 non-null  int64
 2   Order ID        51290 non-null  object
 3   Order Date      51290 non-null  object
 4   Ship Date       51290 non-null  object
 5   Ship Mode       51290 non-null  object
 6   Customer ID     51290 non-null  object
 7   Customer Name   51290 non-null  object
 8   Segment         51290 non-null  object
 9   Postal Code     9994 non-null   float64
 10  City            51290 non-null  object
 11  State           51290 non-null  object
 12  Country         51290 non-null  object
 13  Region          51290 non-null  object
 14  Market          51290 non-null  object
 15  Product ID      51290 non-null  object
 16  Category        51290 non-null  object
 17  Sub-Category    51290 non-null  object
 18  Product Name    51290 non-null  object
 19  Sales           51290 non-null  float64
 20  Quantity        51290 non-null  int64
 21  Discount        51290 non-null  float64
 22  Profit          51290 non-null  float64
 23  Shipping Cost   51290 non-null  float64
 24  Order Priority  51290 non-null  object
 25  Returned        2202 non-null   object
dtypes: float64(5), int64(3), object(18)
memory usage: 10.2+ MB

                 count          mean           std       min           25%  \
Unnamed: 0     51290.0  25644.500000  14806.291990     0.000  12822.250000
Row ID         51290.0  25645.500000  14806.291990     1.000  12823.250000
Postal Code     9994.0  55190.379428  32063.693350  1040.000  23223.000000
Sales          51290.0    246.490581    487.565361     0.444     30.758625
Quantity       51290.0      3.476545      2.278766     1.000      2.000000
Discount       51290.0      0.142908      0.212280     0.000      0.000000
Profit         51290.0     28.610982    174.340972 -6599.978      0.000000
Shipping Cost  51290.0     26.478567     57.251373     1.002      2.610000

                     50%         75%        max
Unnamed: 0     25644.500  38466.7500  51289.000
Row ID         25645.500  38467.7500  51290.000
Postal Code    56430.500  90008.0000  99301.000
Sales             85.053    251.0532  22638.480
Quantity           3.000      5.0000     14.000
Discount           0.000      0.2000      0.850
Profit             9.240     36.8100   8399.976
Shipping Cost      7.790     24.4500    933.570
Unnamed: 0            0
Row ID                0
Order ID              0
Order Date            0
Ship Date             0
Ship Mode             0
Customer ID           0
Customer Name         0
Segment               0
Postal Code       41296
City                  0
State                 0
Country               0
Region                0
Market                0
Product ID            0
Category              0
Sub-Category          0
Product Name          0
Sales                 0
Quantity              0
Discount              0
Profit                0
Shipping Cost         0
Order Priority        0
Returned          49088
dtype: int64
0

,Unnamed: 0,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,...,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,Returned
0,0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,...,Technology,Phones,Samsung Convoy 3,221.980,2,0.0,62.1544,40.770,High,NaN
1,1,26341,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,JR-162107,Justin Ritter,Corporate,NaN,...,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.630,Critical,NaN
2,2,25330,IN-2014-CR127307-41929,2014-10-17,2014-10-18,First Class,CR-127307,Craig Reiter,Consumer,NaN,...,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.490,Medium,NaN
3,3,13524,ES-2014-KM1637548-41667,2014-01-28,2014-01-30,First Class,KM-1637548,Katherine Murray,Home Office,NaN,...,Technology,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400,910.160,Medium,NaN
4,4,47221,SG-2014-RH9495111-41948,2014-11-05,2014-11-06,Same Day,RH-9495111,Rick Hansen,Consumer,NaN,...,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,903.040,Critical,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,51285,29002,IN-2015-KE1642066-42174,2015-06-19,2015-06-19,Same Day,KE-1642066,Katrina Edelman,Corporate,NaN,...,Office Supplies,Fasteners,"Advantus Thumb Tacks, 12 Pack",65.100,5,0.0,4.5000,1.010,Medium,NaN
51286,51286,34337,US-2014-ZD21925140-41765,2014-05-06,2014-05-10,Standard Class,ZD-219251408,Zuschuss Donatelli,Consumer,37421.0,...,Furniture,Furnishings,"Eldon Image Series Desk Accessories, Burgundy",16.720,5,0.2,3.3440,1.930,High,NaN
51287,51287,31315,CA-2012-ZD21925140-41147,2012-08-26,2012-08-31,Second Class,ZD-219251404,Zuschuss Donatelli,Consumer,94109.0,...,Office Supplies,Art,Newell 341,8.560,2,0.0,2.4824,1.580,High,NaN
51288,51288,9596,MX-2013-RB1979518-41322,2013-02-17,2013-02-21,Standard Class,RB-1979518,Ross Baird,Home Office,NaN,...,Office Supplies,Binders,"Acco Index Tab, Economy",13.440,2,0.0,2.4000,1.003,Medium,NaN
51289,51289,6147,MX-2013-MC1810093-41416,2013-05-22,2013-05-26,Second Class,MC-1810093,Mick Crebagga,Consumer,NaN,...,Office Supplies,Paper,"Eaton Computer Printout Paper, 8.5 x 11",61.380,3,0.0,1.8000,1.002,High,NaN